/* -------------------------------------------------------------------------- */
/*                       REGOLE BASE PER TUTTI I DEVICE                       */
/* -------------------------------------------------------------------------- */


* {
    box-sizing: border-box;
}

body {
    font-family: 'Hind',sans-serif;
}

.container {
    width:96%;
    margin:0 auto;
}

#mainHeader {
    background:#1e4ba4;
    color: #efefef;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#mainHeader a { /*tutti i link dentro mainHeader*/
    color:#efefef;
    text-decoration: none;
}

.logo {
    width: 6rem;
}

#topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}

.topMenu ul {
    list-style: none;
    display: flex;
    margin:0;
    padding:0;
}

.topMenu li {
    margin-left: 1rem;
}

.button {
   
    border:1px solid #efefef;
    padding:0.25rem 0.5rem;
    border-radius:3px;
}

.button.white {
    background: #efefef !important;
    color:#1e4ba4 !important;
}




/* -------------------------------------------------------------------------- */
/*                                SEZIONE MAIN                                */
/* -------------------------------------------------------------------------- */

#tipoViaggio {
    padding-top: 4rem;
    margin-bottom: 6rem;
}
.tipoViaggioGrid {
    display: flex;
    flex-wrap: wrap;
}

.viaggioItem {
   
   margin-left: 0.5rem;
   margin-right: 0.5rem;
   width: calc(50% - 1rem);
     /* con CALC posso mischiare le unità di misura. Così mi calcolo
        la larghezza precisa in percentuale, alla quale sottraggo il valore
        dei margini (0.5rem a sx, 0.5rem a dx = 1rem)*/

   margin-bottom: 1rem;

position:relative;

}

.viaggioItem img {
    width: 100%;
    display: block; /*serve per evitare che si creino degli spazi indesiderati sotto le immagini*/
    /*gli spazi appaiono perché l'immagine è un elemento in linea. Forzando display:block risolvo*/
}

.viaggioDesc {
    position: absolute;
    left:0;
    bottom:0;
    padding:0.5rem;
    color:#efefef;

    width: 100%;
    

    /*gradient da trasp. a nero semitrasparente*/
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.6881346288515406) 0%, rgba(0,0,0,0) 100%);

}

.elencoCittaGrid {
    display: flex; /*fai affiancare gli elementi*/
    flex-wrap: wrap; /*vai a capo quando finisce lo spazio*/
}

.cittaItem {

    width:100%;
    height:20rem;
    margin-bottom: 1rem;
    /* border:0.25rem solid white; */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    
}

.cittaDesc {
    padding:1rem 1rem 4rem 1rem;
    color:#efefef;
    font-size: 2rem;
    font-weight: bold;

    text-shadow: 1px 1px #222222;

    /*sfondo semitrasparente sfumato*/
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0.6881346288515406) 0%, rgba(0,0,0,0) 100%);
}


/* -------------------------------------------------------------------------- */
/*                                   FOOTER                                   */
/* -------------------------------------------------------------------------- */
#mainFooter {
    background: #1e4ba4;
    padding-top:3rem;
    padding-bottom: 3rem;
}

#mainFooter a {
    color:#efefef;
}

.footerMenu {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
     /*spazia equamente sul contenitore*/
    margin:0;  /*rimuovo margini lista*/
    padding:0; /*rimuovo margini interni lista */
   
}



@media (min-width:992px) {
    /* REGOLE PER SCHERMI GRANDI */ 

    .viaggioItem { /*su desktop occupa 1/5 dello spazio */
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        
        width: calc(20% - 1rem);
         /* con CALC posso mischiare le unità di misura. Così mi calcolo
        la larghezza precisa in percentuale, alla quale sottraggo il valore
        dei margini (0.5rem a sx, 0.5rem a dx = 1rem)*/



    }

    .cittaItem { /*dimensione su schermi grandi*/
        width:33.3%;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        margin-bottom: 1rem;

        width:calc(33.3% - 1rem);
        /* con CALC posso mischiare le unità di misura. Così mi calcolo
        la larghezza precisa in percentuale, alla quale sottraggo il valore
        dei margini (0.5rem a sx, 0.5rem a dx = 1rem)*/
    }

    .cittaItem:nth-of-type(1), .cittaItem:nth-of-type(2) {
    /*il primo E il secondo elemento cittaItem*/
        width:calc(50% - 1rem);
    }



    .container {
        width:80%;
       /* margin:0 auto; non serve perché eredita dalla regola precedente*/
    }


    

} /*chiusura media query*/

/*****TO DO

- Testo su immagini
- Containers 
- Prima immagine blu

