/* -------------------------------------------------------------------------- */
/*                     CSS CON MEDIA QUERIES DI BOOTSTRAP                     */
/* -------------------------------------------------------------------------- */
 /* X-Small devices (portrait phones, less than 576px)
 No media query for `xs` since this is the default in Bootstrap */

/* ------------------- REGOLE BASE PER TUTTI I DISPOSITIVI ------------------ */

/*es. font, colori etc...*/

#hero {
    margin-bottom: 5rem;
}
.swiper-slide img {
    width: 100%;
}

.slideText {
    background:rgba(0,0,0,0.5);
    padding:2rem;
   
    font-size: 1.5rem;
    color:#fff;
 
}

.shopItem .card-title {
  
}

.shopItem .band {
    font-weight: bold;
}

.shopItem .album {
    font-style: italic;
}

.shopItem .album:before { /* creo un elemento dentro .album usando il CSS*/
    content:' - ';
    display: inline;
}





/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {  }